body{
	background-color: #d8eee7!important;
}
.run-map-page{
		font-size: 38px;
		color: aqua;
}
.canvas-box{
	width: 850px;
	margin: 20px auto 0;
	position: relative;
}
.lifting-arm-img{
	position: absolute;
	background-image: url("../assets/liftingArm.png");
	background-size:100% 100%;
	// width: 20px;
	// height: 76px;
	width: 40px;
	height: 152px;
}
#myCanvasBelt{
	position: absolute;
	z-index: -1;
	height: 650px;
	// width: 100%;
	// height: 100%;
}