body{
	background-color: #d8eee7;
}
.run-map-page{
		font-size: 38px;
		color: aqua;
}
.canvas-box{
	width: 850px;
	margin: 20px auto 0;
	position: relative;
}
.lifting-arm-img{
	position: absolute;
	background-image: url("../assets/liftingArm.png");
	background-size:100% 100%;
	width: 20px;
	height: 76px;
}